body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

h4 {
    color: #555;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

dl {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

dt, dd {
    padding: 10px;
}

dt {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

    a:hover {
        text-decoration: underline;
    }
